*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background:#001d12;
    background-size: auto;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}


/* css for homepage */
.header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/kazuha.png);
    background-size:72%;
    background-position:115% 100%;
    background-repeat: no-repeat;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px 90px;
    position: relative;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.5s;
}
nav ul li::after{
    content: '';
    width: 0;
    height: 3px;
    background: #3eb489;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a:hover{
    color:#3eb489;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 .name{
    color:#3eb489;
    transition: 0.5s;
}
.header-text h1 .region{
    color:#8a2be2;
    transition: 0.5s;
}
.header-text h1 .name:hover{
    text-shadow: 0px 0px 25px #3eb489;
}
.header-text h1 .region:hover{
    text-shadow: 0px 0px 25px #8a2be2;
}


/* css for about section */
.about{
    padding: 60px 0;
    color: #fff;
}
.about .container{
    display:flex;
    flex-direction: column;
}
.row-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 h2{
    color:#3eb489;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.with-line {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.with-line::after {
    content: "";
    flex-grow: 1;
    display: absolute;
    height: 2px;
    background-color: #3eb489;
    margin-left: 10px;
    margin-right: 60%;
}
.all-info {
    display: flex;
    flex-wrap: wrap;
}
.left-info {
flex-basis: 35%;
max-width: 50%;
}
.right-info {
flex-basis: 60%;
max-width: 50%;
text-align: right;
}
.all-info i {
    color: #3eb489;
}
.tab-titles{
    display: flex;
    margin: 20px 0 15px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color:#fff;
    transition: 0.5s;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #3eb489;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-links:hover::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:#3eb489;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



.row-2{
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.interests{
    flex-basis: 48%;
}
.testimonials{
    flex-basis: 47%;
}
.each-hobbies{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.hobby{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 35px;
    height:70px;
    width: 31%;
    background-color: #ffffff0c;
    border-radius: 7px;
    gap: 10px;
    transition: 0.5s;
}
.hobby:hover{
    background-color: #ffffff1f;
    transform: scale(1.05);
    transform: rotate();
}



.each-testimonial{
    border-radius: 15px;
    margin-top: 35px;
    height: 260px;
    max-width: 100%;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    gap: 10px;
    scrollbar-width:none;
    scrollbar-color: #3eb489 #3eb489;
}
.each-testimonial::-webkit-scrollbar {
    width: 10px;
}
.each-testimonial::-webkit-scrollbar-thumb {
    background-color: #3eb489;
    border-radius: 10px;
}
.each-testimonial::-webkit-scrollbar-thumb:hover {
    background-color: #329470;
}
.each-testimonial::-webkit-scrollbar-track {
    background-color:#001d12;
    border-radius: 5px;
}

.each-testimonial .item{
    background-color: #490c0c;
    border-radius: 15px;
    min-width: 60%;
    height: 235px;
    text-align: left;
    display: flex;
    padding: 15px;
    gap: 10px;
}
.item img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.item div{
    flex-basis: auto;
}
.item p{
    font-size: 14px;
    padding-bottom: 5px;
}
.stars{
    text-align: right;
}


/* css for services */
.services{
    padding:30px 0;
}
.services-list{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0;
}
.each-service{
    width: 48%;
    background-color: #ffffff0c;
    padding: 30px;
    border-radius: 10px;
    transition: 0.5s;
}
.each-service i{
    font-size: 60px;
}
.each-service a{
    text-decoration: none;
    color:#3eb489;
}
.each-service h2{
    font-size: 35px;
    margin-bottom: 20px;
}
.each-service p{
    margin-bottom: 20px;
}
.each-service:hover{
    background-color: #490c0c;
    transform: translateY(-10px);
}

/* css for portfolio */
.portfolio .container{
    margin-top: 50px;
}
.portfolio{
    padding: 8px 0;
}
.works{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.audios{
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    gap: 2em;
    
}
.hero{
    width: 100%;
    background: #3eb489;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-radius: 10px;
}
.pictures{
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.music{
    width: 100%;
    max-width: 900px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(red, 0, 0, 0.4);
    background: fff;
    border-radius: 8px;;
}
.track{
    display:flex;
    align-items:center;
    margin-top: 20px;
}
.track i{
    font-size: 60px;
    margin-right: 30px;
    cursor: pointer;
    color: #001d12;
}
.track div{
    flex: 1;
}
.sample-desc{
    padding-bottom: 0%;
}
.sample-pics{
    display: flex;
    gap: 2em;
}
.sample-pics img{
    width: 355px;
    border-radius: 10px;
    opacity: calc(0.3);
    transition: 0.2s;
}
.sample-pics img:hover{
    opacity: calc(1);
    transform: translateY(-40px) rotateZ(-3deg);
}


/* css for contact */
.contact .container{
    margin-top: 80px;
}